<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            
          <div style="display: block">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend">
    </canvas>
          </div>

            <button type="button" class="btn btn-primary"(click)="generateRandomNumbers()">Generate</button>

        </div>
    </div>
</div>