
<nav class="navbar navbar-expand-md bg-dark" style="background-color: #e3f2fd;">
  <a class="brandLogo" class="navbar-brand" href="#">Algorithm Visualiser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link" routerLink="/bubbleSort">BubbleSort</a>
      <a class="nav-item nav-link" routerLink="/insertionSort">InsertionSort</a>
      <a class="nav-item nav-link" routerLink="/mergeSort">MergeSort</a>
    </div>

  </div>
</nav> 


<router-outlet> </router-outlet>
